@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Manage Personal Data</h5>
    </div>
    <div class="card-body h-100">
        <p>
            Deleting your data will permanently remove your account.  This will
            be done immediately and your data cannot be recovered.
        </p>

        <div>
            <form id="delete-user" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <button class="w-100 btn btn-lg btn-danger" type="submit">Delete data and close my account</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
