@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Disable Two-Factor Authentication</h5>
    </div>
    <div class="card-body h-100">
        <p>
            <strong>This reduces the security of your account.</strong>
            You can always turn it back on again if you want, but you will need to set up
            your authenticator app again.
        </p>
        <div class="text-center">
            <form method="post">
                <button class="btn btn-danger" type="submit">Disable 2FA</button>
            </form>
        </div>
    </div>
</div>
