@page
@model EmailModel

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Update Email</h5>
    </div>
    <div class="card-body h-100">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <div class=" input-group">
                        <input asp-for="Email" class="form-control" disabled />
                        <span class="h-100 input-group-text text-success font-weight-bold" title="Email Confirmed">✓</span>
                    </div>
                </div>
            }
            else
            {
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <div class=" input-group">
                        <input asp-for="Email" class="form-control" disabled />
                        <span class="h-100 input-group-text text-danger font-weight-bold" title="Email Not Confirmed">x</span>
                    </div>
                </div>
            }
            <div class="mb-3">
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Change Email</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
