@page
@model EnableAuthenticatorModel

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Enable Two-Factor Authentication</h5>
    </div>
    <div class="card-body h-100">
        <p class="card-text">
            To enable two-factor authentication, you will need an authenticator app.  There are a few options:
        </p>
        <p class="card-text">Microsoft Authenticator</p>
        <p class="card-text text-center">
            <a class="btn btn-primary" href="https://play.google.com/store/apps/details?id=com.azure.authenticator">
                <i class="fa-fw fa-brands fa-google-play"></i> Google Play
            </a>
            <a class="btn btn-primary" href="https://apps.apple.com/app/id983156458">
                <i class="fa-fw fa-brands fa-apple"></i> Apple Store
            </a>
        </p>
        <p class="card-text">Google Authenticator</p>
        <p class="card-text text-center">
            <a class="btn btn-primary" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en">
                <i class="fa-fw fa-brands fa-google-play"></i> Google Play
            </a>
            <a class="btn btn-primary" href="https://apps.apple.com/us/app/google-authenticator/id388497605">
                <i class="fa-fw fa-brands fa-apple"></i> Apple Store
            </a>
        </p>
        <p class="card-text">
            Scan this QR Code to set up your app:
        </p>
        <div id="qrCode"></div>
        <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        <p class="card-text">If that doesn't work, you can enter manually this key:</p>
        <p class="card-text text-center">
            <kbd class="fs-4">@Model.SharedKey</kbd>
        </p>
        <p class="card-text">Spaces and case doesn't matter.</p>
        <p>
            Once you have set up your app, it will give you a code.  Enter it in this confirmation
            box.

            <form id="send-code" method="post">
                <div class="mb-3">
                    <label asp-for="Input.Code" class="control-label form-label">Verification Code</label>
                    <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Input.Code" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Verify</button>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </form>
        </p>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script src="~/lib/qrcode/qrcode.min.js" type="text/javascript"></script>
<script type="text/javascript">
    window.addEventListener("load", () => {
        const uri = document.getElementById("qrCodeData").getAttribute("data-url");
        new QRCode(document.getElementById("qrCode"),
        {
            text: uri,
            width: 150,
            height: 150
        });
    });
</script>
}
