@page
@model GenerateRecoveryCodesModel

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Get New Recovery Codes</h5>
    </div>
    <div class="card-body h-100">
        <p>
            <strong>If you continue, your previous recovery codes won't work anymore.</strong>
            Make sure you get rid of them and keep these ones instead.
        </p>
        <div class="text-center">
            <form method="post">
                <button class="btn btn-danger" type="submit">Generate Recovery Codes</button>
            </form>
        </div>
    </div>
</div>

