@page
@model PersonalDataModel

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Manage Personal Data</h5>
    </div>
    <div class="card-body h-100">
        <p>Your account contains personal data that you have given us. You can download all of that data here.</p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary mb-3" type="submit">Download</button>
        </form>
        <p>
            You can also request that your personal data is deleted.  Pleae be aware that this will happen immediately,
            and <span class="fw-bold">cannot be undone</span>.
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
